@import '../node_modules/bootstrap/scss/bootstrap';

html, body, #__next {
  height: 100%;
}

.main-page {
  height: 100%;
}

.header {
  h1 {
    width: fit-content;
    margin: 5% auto;
  }
}

.calculator {
  height: 50%;
  margin-top: 10%;

  .calculator-form {
    height: 80%;
  
    .text-input {
      height: 80%;
    }
  }
}

.sq-score {
  opacity: 0;
  transition: opacity 500ms;

  .active {
    opacity: 1;
  }
}
