@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  --sq-blue: hsla(239, 76%, 49%, 1);
  --lighter-blue: hsla(239, 76%, 72%, 1);
}

html, body, #__next {
  height: 100%;
}

body {
  background: linear-gradient(180deg, var(--lighter-blue), white);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.main-page {
  height: 100%;
  overflow: auto;
}

.main-content {
  
  h1 {
    width: fit-content;
    margin: 5% auto;
  }

  p {
    background-color: white;
    padding: 1%;
  }
}

.calculator {
  height: 50%;
  margin-top: 5%;

  .calculator-form {
    height: 80%;

    .calculating {
      display: none;
      width: 1rem;
      height: 1rem;
    }

    .calculating.active {
      display: inline-block;
    }
  
    button {
      margin-right: 1%;
    }
    
    .text-input {
      height: 80%;
    }

    .warning {
      visibility: hidden;
      color: red;
    }
    
    .warning.active {
      visibility: visible;
    }
  }
}

.sq-score-panel {
  display: none;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  border: 5px solid black;
  text-align: center;
  width: 90%;
  margin-top: 4%;
  margin-bottom: 5%;
  background: linear-gradient(135deg, var(--lighter-blue), white);

  p {
    margin-bottom: 0;
  }

  .sq-num {
     margin-right: 2%;
  }

  .sq-num, .sq-text {
    font-size: 3rem;
  }

  .sq-explainer, .consortium-name {
    font-size: .7rem;
  }
}

@media screen and (min-width: 420px) {
  .sq-score-panel {
    width: 80%;
  }
}

.sq-score-panel.active {
  display: block;
}

.screenshot-btn {
  display: none;
  margin: 0 auto;
}

.screenshot-btn.active {
  display: block;
}

.sq-text {
  font-family: 'Alfa Slab One', 'cursive';
  color: var(--sq-blue);
}
